.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   
    width: 25%;
    margin: 30px 2% 30px 2%;
    border-radius: 10px;

}

.card_container > img {
    background-color: #CDFAD5;
}

.card_container > h3{
    margin: 10px ;
    font-weight: 500;
    font-size: 20px;
    color: #1d1b1b;
}

.card_container > span{
    font-size: 20px;
    font-weight: 600;
    color: #5D12D2;
}

.buttonVerMas{
    margin: 10px;
    background-color: #F4E869;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 18px;
    color: #1d1b1b;
    transition: 0.3s;
}

.buttonVerMas:hover{
background-color: #e1d336;
transform: scale(1.08);

}
