
.footer{
       
        padding: 20px;
        text-align: center;
        position: relative;
        bottom: 0;
        width: 100%;
}

.lista {
    list-style: none; /* Quita los marcadores de lista predeterminados */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    display: flex; /* Aplica Flexbox al contenedor (ul) */
    justify-content: center;
    width: 100%;
        
}

.lista li {
    color: rgb(254, 250, 245);
    font-size: 20px;
  padding: 20px; /* Espaciado entre elementos */
  
}